<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.electronic.dao.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.electronic.model.Goods" >
    <id column="good_id" property="goodId" jdbcType="VARCHAR" />
    <result column="good_name" property="goodName" jdbcType="VARCHAR" />
    <result column="good_price" property="goodPrice" jdbcType="DECIMAL" />
    <result column="good_img" property="goodImg" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="DATE" />
    <result column="mod_date" property="modDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    good_id, good_name, good_price, good_img, create_date, mod_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.electronic.model.GoodsKey" >
    select 
    <include refid="Base_Column_List" />
    from goods
    where good_id = #{goodId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.electronic.model.GoodsKey" >
    delete from goods
    where good_id = #{goodId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.electronic.model.Goods" >
    <selectKey resultType="java.lang.String" keyProperty="goodId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into goods (good_name, good_price, good_img, 
      create_date, mod_date)
    values (#{goodName,jdbcType=VARCHAR}, #{goodPrice,jdbcType=DECIMAL}, #{goodImg,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=DATE}, #{modDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.electronic.model.Goods" >
    <selectKey resultType="java.lang.String" keyProperty="goodId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodName != null" >
        good_name,
      </if>
      <if test="goodPrice != null" >
        good_price,
      </if>
      <if test="goodImg != null" >
        good_img,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modDate != null" >
        mod_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodName != null" >
        #{goodName,jdbcType=VARCHAR},
      </if>
      <if test="goodPrice != null" >
        #{goodPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodImg != null" >
        #{goodImg,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
      <if test="modDate != null" >
        #{modDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.electronic.model.Goods" >
    update goods
    <set >
      <if test="goodName != null" >
        good_name = #{goodName,jdbcType=VARCHAR},
      </if>
      <if test="goodPrice != null" >
        good_price = #{goodPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodImg != null" >
        good_img = #{goodImg,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="modDate != null" >
        mod_date = #{modDate,jdbcType=DATE},
      </if>
    </set>
    where good_id = #{goodId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.electronic.model.Goods" >
    update goods
    set good_name = #{goodName,jdbcType=VARCHAR},
      good_price = #{goodPrice,jdbcType=DECIMAL},
      good_img = #{goodImg,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=DATE},
      mod_date = #{modDate,jdbcType=DATE}
    where good_id = #{goodId,jdbcType=VARCHAR}
  </update>
</mapper>